*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imagem{
    background-image: url(esportes.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 500px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
}
.imagem .escrita {
    color: white;
    width: 250px;
    font-weight: bolder;
    margin-left: -400px;
    font-size: 26px;
}
.red .redhome{
    width: 100px;
    height: 100%;
    margin-left: 350px;
    text-align: center;
    
}
.red .redsimulador{
    width: 100px;
    height: 100%;
    margin-right: 50px;
    text-align: center;

}
.blue .bluelogin{
    width: 100px;
    height: 100%;
    margin-left: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.blue .bluecadastro{
    width: 100px;
    height: 100%;
    margin-right: 350px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.red{
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    width: 50%;
    float: left;
    border-bottom: black solid 5px;
}
.blue{
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    width: 50%;
    border-bottom: black solid 5px;
}
.blue a{
    color: black;
    
}
.red a{
    color: black;
    
}